<head>
	<title>Please Sign In</title>
</head>

<body>
<b>Please sign in</b>
<form method="POST" action="/sign-in">
	<label for="username">Username</label>
	<input type="text" name="username">
	<label for="password">Password</label>
	<input type="text" name="password">
	<input type="submit">
</form>


</body>